<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_Recommender>
            <version>0.0.1</version>
        </Ebizmarts_Recommender>
    </modules>
    <global>
        <blocks>
            <ebizmarts_recommender>
                <class>Ebizmarts_Recommender_Block</class>
            </ebizmarts_recommender>
        </blocks>
        <helpers>
            <ebizmarts_recommender>
                <class>Ebizmarts_Recommender_Helper</class>
            </ebizmarts_recommender>
        </helpers>
        <models>
            <ebizmarts_recommender>
                <class>Ebizmarts_Recommender_Model</class>
            </ebizmarts_recommender>
        </models>
        <resources>
            <ebizmarts_recommender_setup>
                <setup>
                    <module>Ebizmarts_Recommender</module>
                </setup>
            </ebizmarts_recommender_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ebizmarts_recommender>
                <use>standard</use>
                <args>
                    <frontName>recommender</frontName>
                    <module>Ebizmarts_Recommender</module>
                </args>
            </ebizmarts_recommender>
        </routers>
    </frontend>
</config>
